.container{
    background-color: var(--off-white);
    display: flex;
    width: 77.25rem;
    align-items: center;
    gap: 5rem;
    margin: 0 auto; // testing purposes
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.375rem;
    gap: 1rem;
    flex-shrink: 0;
    padding-top: 2rem;
}

.link{
    text-decoration: none;
    display: block;
    width: 100%;
}

.imageContainer{
    display: flex;
    padding: 3.82rem 5.96rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.19288rem;
    align-self: stretch;
    border-radius: 2.86294rem;
    background: var(--space-blue);
    box-shadow: 0 27.631px 276.315px 0 rgba(0, 0, 0, 0.10);

    img{
        width: 12.52494rem;
        height: 9.5455rem;
    }
}

.caption{
    color: var(--Grey, #575757);
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 1rem;
    font-weight: 400;
}

.right{
    display: flex;
    width: 53.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    flex-shrink: 0;
}

.heading{
    align-self: stretch;
    color: var(--space-blue);
    font-family: Oxanium;
    font-size: 3rem;
    font-weight: 500;
}

.textBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

}

.text{
    color: var(--off-black);
    font-family: "Space Grotesk";
    font-size: 1.25rem;
    font-weight: 400;
}

ul.text{
    padding-left: 1.5rem;
}


