@use "@/app/(pages)/_globals/mixins.scss";

.pageBody {
  // background: linear-gradient(
  //   180deg,
  //   var(--space-blue) 0%,
  //   var(--space-blue) 100%
  // );
  background: linear-gradient(180deg, #000138 0%, #172B54 100%);
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 4rem 6rem;
  // makes the page flex items align with window size (let me know to remove this)
  // max-width: 90rem;

  @include mixins.phone
  {
    flex-direction: column;
    padding: 2.5rem 1.5rem;
    align-items: center;
  }
}

// puts the header, description, and buttons to the left
.LeftContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;

  @include mixins.phone
  {
    align-items: center;
    text-align: center;
  }
}

.softwareHeader {
  color: var(--white);
  font-size: 3rem;
  font-weight: 500;
  // size: 3rem;
  @include mixins.phone
  {
    font-size: 2rem;
    font-weight: 500;
  }
}

.softwareDescription {
  height: 9.75rem;
  font-size: 1.25rem;
  font-family: "Space Grotesk";
  color: var(--off-white);
  width: 39.375rem;
  max-width: 45rem;
  margin-top: 0;
  @include mixins.phone {
    width: 100%;
    height: auto;
    font-size: 1.125rem;
    text-align: center;
  }
}

.SSSButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.SSSButton {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  border: 0.5px solid var(--off-white);
  background: rgba(247, 247, 247, 0.9);
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.1);
  color: var(--gray); 
  font-family: "Space Grotesk";
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8125rem 2rem;
  min-width: 19.6875rem; // Allows the buttons to be even-sized horizontally no matter how long text is
  cursor: pointer;
  text-decoration: none;

  @include mixins.phone
  {
    width: 13rem;
    height: 2.625rem;
    padding: 0.625rem;
    min-width: unset;
    font-size: 0.875rem;
  }

}
.SSSButton::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.17);
  transform-origin: 0% 50%;
  transform: scaleX(0); // slide is off
  transition: transform 0.3s ease;
}
.SSSButton:hover::before {
  animation: slideOverlay 0.3s forwards;
}

@keyframes slideOverlay {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1); // slide is on
  }
}
// ^^used to for translation smoothly

.SVGContainerDesktop {
  display: flex;
  align-self: center;
  padding-right: 4rem;
  flex-shrink: 0;

  @include mixins.phone {
    display: none;
  }
}

.SVGContainerMobile
{
  display: none;
  @include mixins.phone
  {
    display: flex;
    width: 20rem;
    padding: 1.41669rem 1.41669rem 1.75988rem 1.41669rem;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
  }
}

