:root {
  --black: #2b2b2b;
  --dark-gray: #575757;
  --light-gray: #b6b6b7;
  --white: #f7f7f7;
  --midnight: #000138;
  --navy: #172b54;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
