:root {
  --off-black: #2b2b2b;
  --gray: #575757;
  --light-gray: #b6b6b6;
  --off-white: #f7f7f7;
  --midnight: #000138;
  --space-blue: #172b54;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
