:root {
  --black: #2B2B2B;
  --dark-gray: #575757;
  --light-gray: #B6B6B6;
  --white: #F7F7F7;
  --midnight: #000138;
  --navy: #172B54;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}