.nav {
  display: flex;
  width: 100%;
  height: 6rem;
  padding: 2.5rem 6.25rem 0.625rem 6.25rem;
  flex-direction: row; 
  align-items: center;
  gap: 0.625rem;
  background-color: var(--white);
  
  
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  width: 6.5625rem;
  height: 6.5625rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  flex-shrink: 0; 
  justify-content: center;

  img {
   object-fit: cover;;
  }
}

.pages {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  
  list-style: none; 

  li {
    list-style: none; // 
    display: flex;
    align-items: center;
  }

  a {
    font-family: "Space Grotesk";
    color: var(--black);        
    font-size: 0.95rem;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

    position: relative;
    transition: color 0.2s ease;

    &:hover {
      color: var(--navy);
    }
  }
}
