.nav {
  display: flex;
  width: 100%;
  padding: 2rem 3.5rem;
  flex-direction: row; 
  align-items: center;
  gap: 0.625rem;
  background-color: var(--white);
  
  
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink:0;

  img {
    height: 4rem;
    width:auto;

  }
}

.pages {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  
  list-style: none; 

  li {
    list-style: none; // 
    display: flex;
    align-items: center;
  }

  a {
    font-family: "Space Grotesk";
    color: var(--black);        
    font-size: 0.95rem;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

    position: relative;
    transition: color 0.2s ease;

    &:hover {
      color: var(--navy);
    }
  }
}
