@use "@/app/(pages)/_globals/mixins.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.75rem;
  background-image: url("/bg-blue-stars.svg");
  background-size: cover;
  background-position: center;
  padding: 8rem 6.25rem;
  @include mixins.phone {
    flex-direction: column;
    padding: 1.5rem 1.25rem;
    gap: 1.5rem;
  }

  .textColumn {
    display: flex;
    max-width: 45rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    @include mixins.phone {
      order: 2;
      gap: 1rem;
    }

    h1 {
      color: var(--off-white);
      font-family: "Oxanium";
      font-size: 3rem;
      font-weight: 500;
      @include mixins.phone {
        font-size: 2rem;
        align-self: center;
      }
    }

    .paragraphsContainer {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      p {
        color: var(--off-white);
        font-family: "Space Grotesk";
        font-size: 1.5rem;
        @include mixins.phone {
          font-size: 1.125rem;
        }
      }
    }
  }

  .image {
    border-radius: 0.3125rem;
    @include mixins.phone {
      order: 1;
      width: 321px;
      height: 265px;
    }
  }
}
