.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.title{
    font-size: 2.5rem;
}

.form{

}

.row{

}

.submit{

}
