@use '@/app/(pages)/_globals/mixins.scss';

.container {
    display: flex;
    width: 90rem;
    height: 35.375rem;
    padding: 6.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    background: url(<path-to-image>) lightgray 0% 0% / 100px 100px repeat, linear-gradient(180deg, #000138 0%, #172B54 100%);

}

.SponsorUsTitle {
    color: white;
    text-align: center;
    font-family: Oxanium;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.benefit{
    background-color: #054483;
    margin: 2rem;
    padding: 1rem 2rem;
    font-size:1.5rem;
    border-radius: 0.5rem;
    color:white;
    font-family: "Space Grotesk";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    transition: transform 1s ease;
    &:hover {
      transform: scale(1.1);
      transform: translateX(0.5)

  }
}

.picture{
    width: 31rem;
    height: 23.1875rem;
    padding-top: 74.8%; 
}

