@use "@/app/(pages)/_globals/mixins.scss";
.main {
  padding: 0 6.25rem;
  padding-bottom: 9.25rem;
  background-color: var(--off-white);
  @include mixins.phone {
    padding: 0 1.25rem;
    padding-bottom: 6.25rem;
  }

  .title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
    @include mixins.phone {
      margin-bottom: 1.5rem;
      font-size: 2rem;
      text-align: center;
    }
  }
}
