@use "@/app/(pages)/_globals/mixins.scss";

.hero {
  padding: 7.5rem 6.25rem;
  height: 600px;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--off-white);
  position: relative;

  @include mixins.phone {
    flex-direction: column-reverse;
    padding: 4rem 1.25rem;
  }
}

.textContainer {
  align-self: flex-start;
  top: 50%;
  position: relative;
}

.imageContainer {
  height: 22.5rem;
  flex: 1;
  position: relative;

  @include mixins.phone {
    flex: none;
    height: 8.75rem;
    width: 100%;
  }
}
